# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: No rights reserved

root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.{js,json,py,css}]
indent_style = space
indent_size = 4

[*.{build,xml,yml}]
indent_style = space
indent_size = 2
